/* stylelint-disable at-rule-no-unknown */
@use 'sass:math';
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}
//rem
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
//em
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}
